body {
    background-color: rgb(8, 8, 8);
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    margin-top: 10%;
    justify-content: center;
    margin-left: 35%;
    padding: 20px;
    width: 400px; /* Adjust the width as needed */
    height: 300px; /* Set the desired height */
    /* Optional padding for spacing */
    border-radius: 8px; /* Optional rounded corners */
    color: rgb(7, 214, 38);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}
.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
   
}

.input-row label {
    margin-right: 10px;
}

button {
    margin-top: 10px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}
